<ng-include src="'views/cart.html'"></ng-include>

<div class="row marketing">
    <div class="row" ng-repeat="g in goods">
        <div class="col-md-offset-2 col-md-2">
            <a class="pull-right" href="#/images/{{g.pic}}">
                <img class="img-responsive" ng-src="/images/{{g.pic}}"/>
            </a>
        </div>
        <div class="col-md-6">
            <h4>{{g.name}}</h4>
            {{g.description}}
        </div>
        <div class="col-md-2">
            {{g.price | price}}<br/>
            <a class="btn btn-success" ng-href="#">Add to Cart</a>
        </div>
    </div>
</div>

<div class="footer">
    <p>♥ from the Yeoman team</p>
</div>
